<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top">

    <div class="container-fluid px-4">

        
        <a class="navbar-brand logo" href="/listings">
            <div class="logo-badge">
                <i class="fa-solid fa-mountain-city"></i>
            </div>
            <span class="logo-text">HomeStay</span>
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <form
                action="/listings"
                method="GET"
                class="d-flex mx-auto search-form">

                <input
                    class="form-control search-box"
                    type="search"
                    name="search"
                    placeholder="Search destinations, country, category..."
                    value="<%= typeof search !== 'undefined' ? search : '' %>">

                <button
                    type="submit"
                    class="search-btn ms-2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Search
                </button>
            </form>

            
            <div class="navbar-nav fw-bold ms-auto align-items-center">
                <a class="nav-link me-2" href="/listings/new">
                    Add Your Home
                </a>
                <% if(!currentUser){ %>
                    <a class="nav-link" href="/login">
                        Login
                    </a>
                    <a class="nav-link" href="/signup">
                        Sign Up
                    </a>
                <% } else { %>
                    <div class="profile-wrapper">
                        <button
                            id="profileBtn"
                            class="user-profile-btn"
                            type="button">
                            <% if(currentUser.avatar && currentUser.avatar.url){ %>
                                <img
                                    src="<%= currentUser.avatar.url %>"
                                    class="navbar-profile-img"
                                    alt="Profile">

                            <% } else { %>

                                <div class="avatar">
                                    <%= currentUser.username.charAt(0).toUpperCase() %>
                                </div>

                            <% } %>

                            <span class="profile-name">
                                <%= currentUser.username %>
                            </span>

                            <i class="fa-solid fa-chevron-down profile-arrow"></i>

                        </button>

                       
                        <div
                            id="profileDropdown"
                            class="profile-dropdown">

                          
                            <div class="dropdown-header">

                                <% if(currentUser.avatar && currentUser.avatar.url){ %>

                                    <img
                                        src="<%= currentUser.avatar.url %>"
                                        class="dropdown-profile-img"
                                        alt="Profile">

                                <% } else { %>

                                    <div class="dropdown-avatar">
                                        <%= currentUser.username.charAt(0).toUpperCase() %>
                                    </div>

                                <% } %>

                                <div class="dropdown-user-info">

                                    <h5 class="dropdown-username">
                                        <%= currentUser.username %>
                                    </h5>

                                    <p class="dropdown-email">
                                        <i class="fa-solid fa-envelope"></i>
                                        <%= currentUser.email %>
                                    </p>

                                    <span class="dropdown-badge">
                                        HomeStay Member
                                    </span>

                                </div>

                            </div>

                            <hr>

                          
                            <a href="/profile">
                                <i class="fa-solid fa-user"></i>
                                My Profile
                            </a>

                            
                            <a href="/profile#my-listings">
                                <i class="fa-solid fa-list"></i>
                                My Listings
                            </a>

                            <a href="/listings/new">
                                <i class="fa-solid fa-house"></i>
                                Add New Listing
                            </a>

                            <a href="/bookings">
                                <i class="fa-solid fa-calendar-check"></i>
                                My Bookings
                            </a>

                            <hr>

                            <a
                                href="/logout"
                                class="logout-link">

                                <i class="fa-solid fa-right-from-bracket"></i>

                                Logout

                            </a>

                        </div>

                    </div>

                <% } %>

            </div>

        </div>

    </div>

</nav>